.day-cell-v-header {
    text-align: center;
    font-weight: 600;
    padding-right: 3px;
    background-color: #f2f4f3;
}
.day-cell{
    background-color: #f2f4f3;
}

.room-header {
    text-align: left;
    font-weight: 600;
    color: #c90d42;
}

.table-cell {


}
.row-day {
    padding-bottom: 3px;
}
.class-row {
    padding-bottom: 1px;
    padding-top: 1px;
    padding-right: 3px;

}
.class-cell {
    background-color: #ccccff;
}
.schedule-container {

}

.vbottom {
    display: inline-block;
    vertical-align: bottom;
    float: none;
}
.institution-container {
    margin-left: 200px;
    margin-right: 200px;
}
