<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Foobar</title>
    <link rel="stylesheet" href="/bower_components/bootstrap-css/css/bootstrap.min.css" />
    <style type="text/css">
        /** {*/
            /*border: 1px solid;*/
        /*}*/
    </style>
</head>
<body>
    <div class="container" ng-controller="ListCtrl">
        <div style="display: flex; border-bottom: 1px solid lightgrey; padding: 10px;" ng-repeat="item in items">
            <div style="width: 350px;">
                <img ng-src="{{::item.avatar}}" />
            </div>
            <div style="flex-grow: 1;">
                <h2>
                    <a ng-href="/institution.html">
                         {{::item.name}}
                    </a></h2>
                <br />
                <div>
                    <a ng-href="https://www.google.com/maps/place/{{::item.location}}"
                       target="_blank">
                        Location: {{::item.location}}
                        <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>
        <nav>
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <script type="text/javascript" src="/bower_components/jquery-2.1.4.min/index.js"></script>
    <script type="text/javascript" src="/bower_components/bootstrap-css/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="/app.js"></script>
</body>
</html>