<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Sport4U</title>
    <link rel="stylesheet" href="/bower_components/bootstrap-css/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/global.css"/>
    <style type="text/css">
        /** {*/
        /*border: 1px solid;*/
        /*}*/
    </style>
</head>
<body>

<div class="container institution-container" ng-controller="ListCtrl">

    <div class="row" style="background:url('{{institution.background}}'); height:300px; background-repeat: no-repeat;">


        <div class="title ">
            <div >{{institution.name}}</div>

            <div class="row">
                <div class="col-mg-4"> {{institution.phone[0]}}</div>
                <div class="col-mg-8">
                    <a ng-href="https://www.google.com/maps/place/{{institution.location}}"
                       target="_blank">
                        {{institution.address}} {{institution.city}}<span class="glyphicon glyphicon-map-marker"
                                                                          aria-hidden="true"></span>
                    </a>
                </div>
            </div>


        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6">
            {{institution.description}}
            Web-site: <a ng-href="{{::institution.site}}">{{::institution.site}}</a>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="row">
                <img src="{{institution.gallery[0]}}" style="width: 250px; height: 250px;"/>
                <img src="{{institution.gallery[1]}}" style="width: 250px; height: 250px;"/>
            </div>
            <div class="row">
                <img src="{{institution.gallery[2]}}" style="width: 160px; height: 160px;"/>
                <img src="{{institution.gallery[3]}}" style="width: 160px; height: 160px;"/>
                <img src="{{institution.gallery[4]}}" style="width: 160px; height: 160px;"/>
            </div>
        </div>

    </div>

    <div class="row schedule-container">
        <div class="row header">
            <div class="col-md-2 day-header"></div>
            <div class="col-md-{{10/institution.schedule.rooms.length| number:0}} room-header"
                 ng-repeat="room in institution.schedule.rooms">
                {{::room.name}}
            </div>
        </div>
        <div class="row content">
            <div class="row row-day" ng-repeat="day in institution.schedule.days">
                <div class="col-md-2">
                    <div class="row day-cell-v-header table-cell">{{::day}}</div>
                </div>
                <div class="col-md-{{10/institution.schedule.rooms.length| number:0}} day-cell"
                     ng-repeat="room in institution.schedule.rooms">
                    <div class="row class-row" ng-repeat="class in room.days_schedule[day]">
                        <div class="table-cell class-cell"
                             style="position: relative;  margin-top: {{::class.offset}}px; height: {{::(class.height)}}px;">
                            {{::class.from}} - {{::class.to}} {{::class.name}} with {{::class.teacher}}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/bower_components/jquery-2.1.4.min/index.js"></script>
<script type="text/javascript" src="/bower_components/bootstrap-css/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="/bower_components/angular-route/angular-route.min.js"></script>
<script type="text/javascript" src="/institution.js"></script>
</body>
</html>